.ulu li:hover{
    color:red;
    trasition:0.3s ease;
}

.ulu li{
font-size:28px;
font-weight:500;
    
}
.sticky {
    position: sticky;
    top: 0;
    z-index: 1000; 
    background-color: var(--base-100); 
}

