.element {
    border: 1px solid #ff9966;
    border-radius: 10px;
    padding: 5px 10px;
    margin: 30px 20px;
  background-color: #151515;
    font-size: 1rem;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    display: inline-block;
}

.element:hover {
    background-color: #ff9966;
    color: white;
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    cursor:crosshair;
}

