.diva {
    display: block;
  }
  
  .divmobile {
    display: none;
  }
  .wrapper {
  display: grid;
  place-items: center;
}

.typingdemo {
  width: 11ch;
  animation: typing 1s steps(11), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 3em;
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}
  @media only screen and (max-width: 1903px) {
    .diva {
        display: none;
    }
  
    .divmobile {
        display: block;
    }
    /* body{ 

    } */
}
